@charset "UTF-8";
:root {
    --cor0: #E08363;
    --cor1: #E0AE63;
    --cor2: #E09963;
    --cor3: #E06D63;
    --cor4: #E0BD63;
    --cor5: #E0C4AE;
}
*{margin: 0; padding: 0;}
body{
    background-image: linear-gradient(to left, var(--cor2) , var(--cor0));
}
header{
    background-image: linear-gradient(to bottom, var(--cor5) , var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header>h1{
    color:white;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
}
header>p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em; 
    max-width: 600px; 
    margin: auto; 
    padding: 0 10px;
    margin-bottom: 20px;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.753);
    background-color: rgba(189, 82, 10, 0.425);
}
main h2{ 
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to left, var(--cor1),transparent);
    text-indent: 8px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main h1{
        color: white; 
        font-weight: normal;
        font-size: 1.8em;
}
main p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main a:hover{text-decoration: underline;color: red;}
footer{background-color: var(--cor5); color:white; text-align: center;font-size: .8em;padding: 5px;}
footer a{color: white;font-weight: bold;text-decoration: none;} footer a:hover{text-decoration: underline;color: blueviolet;}
/*link*/
p.linkparaverosite{text-align: center;}
/*link no texto*/
a.linknotexto{text-decoration: none;color: aqua;} a.linknotexto:hover{text-decoration: underline;color: blueviolet;}
/*tabelas*/
table{display:block;margin: auto;border-collapse: collapse;}
td{border: 1px solid black;padding: 8px;}
th{background-color: gray;color:white;border: 1px solid black; padding:5px;}
