/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
/* Fim da importação de fontes */
/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
/* Geral */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis do sistema */
:root{
  --fundo-principal: #f5f5f5;
  --texto-cor: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --caso-destaque-inverso-fica-meio-ruim: #0f3d81;
  --fundo-card: #ffffff;
  --letras-bonitas-nome-para-skills: "Dancing Script", cursive;
  --fonte-para-aviso: "BBH Hegarty", cursive;
}
/* Fim das variáveis do sistema */

/* configurações do body */
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto-cor);
}
/* configurações do menu e do header */
header{
  background-color: var(--destaque);
  color: var(--texto-cor);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav#menu ul{
  list-style: none;
  display: flex;
  gap:10px;
}
nav#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600 ;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}
nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}
nav#menu a.Dark_Mode:hover{
  color: #222222;
}
/* configurações do conteúdo principal, o main */
main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}
/* configurações do conteúdo da seção ficha */
section#ficha{
 background-color: var(--fundo-card);
 padding: 20px;
 border-radius: 5px;
 grid-column: 2;
}

section#ficha img.foto{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* O overflow: hidden; serve para esconder qualquer conteúdo que ultrapasse o limite da caixa. */
  overflow: hidden;
  border-radius: 50%;
  border: var(--fundo-card) 5px solid;
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1{
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5em;
  text-align: center;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}

div#social a{
  color: var(--destaque);
  transition: color 0.5s;
}

div#social a:hover{
  color: var(--destaque-inverso);
}
/* configurações dos links sociais */
div#social a.Preto:hover{
  color: black;
}
div#social a.Vermelho:hover{
  color: red;
}
div#social a.Instagram_Link:hover{
  /* fiz um jeito de pegar a cor do instagram para o seu ícone  */
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

}
/*configuração do aviso */
.aviso{
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
.aviso a{
  text-decoration: none;
  color: var(--texto-cor);
  font-weight: bold;
}
.aviso a:hover{
  color: var(--destaque);
  text-decoration: underline;
}
.aviso z{
  font-family: var(--fonte-para-aviso);
  color: var(--destaque);
  font-weight: bold;
}
/* configurações da seção detalhes */
section#detalhes{
  grid-column: 2;
}
article{
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
article h2{
  font-size: 1.3em;
  color: var(--destaque);
  margin-bottom: 20px;
}
/* configurações sobre como o vídeo deve ser exibido */
.video-container{
  position:relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  border-radius: 8px;
  aspect-ratio: 16/9;
}
.video-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* configurações sobre article skills */ 
#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: .4em;
}
/* para telas maiores para skills */
@media screen and (min-width: 768px){
  #skill-container{
    grid-template-columns: repeat(2,1fr);
  }
}
/* fim da configuração para telas maiores do skills */

/* configurações sobre o nome da habilidade, a porcentagem e a barra de progresso */
#skill-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skill-container .nome{
  font-family: var(--letras-bonitas-nome-para-skills);
  font-weight: bold;
  font-size: 1.3em;
  color: var(--texto-cor);
}
#skill-container .porcent{
  font-weight: bold;
  color: var(--destaque);
}
#skill-container .barra{
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
  overflow: hidden;
}
#skill-container .progresso{
  height: 100%;
  background-color: var(--destaque-inverso);
  transition: width 1s;
  border-radius: 8px;
}
/* configurações da barra de progresso para itens especiais, com cores que combinam melhor com o nome da habilidade ou com o sentido da habilidade, vou usar ID nesse caso */
#skill-container .progresso#html{
  background-color: #e34c26;
}
#skill-container #html-logo{
  color: #e34c26;
}
#skill-container .progresso#css{
  background-color: #007bff;
}
#skill-container #css-logo{
  color: #007bff;
}
#skill-container .progresso#javascript{
  background-color: #f0db4f;
}
#skill-container #javascript-logo{
  color: rgb(240, 219, 79);
}
#skill-container .progresso#php{
  background-color: #474A8A;
}
#skill-container #php-logo{
  color: #474A8A;
}
/*fim da configuração sobre o nome da habilidade, a porcentagem e a barra de progresso */

/*configurações sobre a article formação */
#formacao-container{
  display: flex;
  flex-direction:column-reverse;
  gap: 20px;
}

/* informações de formação */
#informacoes-formacao{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 10px;
  background-color: var(--fundo-card);
  border-radius: 8px;
  font-family: var(--letras-bonitas-nome-para-skills);
}

#informacoes-formacao h3{
  font-weight: bold;
  font-size: 1.7em;
  color: var(--destaque-inverso);
  text-align: center;
}

#informacoes-formacao #ano-inicio-e-conclusao{
  display: flex;
  justify-content: flex-start;
}

#informacoes-formacao #nome-da-instituicao{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#informacoes-formacao #titulacao-escolar{
  display: flex;
  justify-content: flex-end;
}
/* Fim das configurações sobre informações de formação */

#formacao-container .curso{
  background-color: var(--fundo-principal);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: border-left-width .5s , border-color 0.5s;
}

#formacao-container .curso:hover{
 border-left-width: 15px;
 cursor: pointer;
 border-color: var(--destaque);
}

#formacao-container .periodo{
  font-weight: bold;
  font-size: .8em;
  color: var(--texto-cor);
}

#formacao-container .instituicao{
  font-weight: bold;
  font-size: 1.1em;
  color: var(--caso-destaque-inverso-fica-meio-ruim);
}
/* configurações para telas menores */
@media screen and (max-width: 767px){
  #informacoes-formacao,#informacoes-formacao #titulacao-escolar, #informacoes-formacao #nome-da-instituicao, #informacoes-formacao #ano-inicio-e-conclusao{
    display: flex;
    flex-direction: column;
  }

  #formacao-container .curso{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
/* Fim das configurações para telas menores */

/* configurações sobre a article projetos */
#projeto-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#projeto-container .projeto{
  background-color: var(--fundo-principal);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px 0px 0px 20px;
  border-left: 5px solid var(--destaque-inverso);
  padding: 10px;
  transition: border-left-width .5s , border-color 0.5s;
}

#projeto-container .projeto:hover{
  border-left-width: 15px;
  cursor: pointer;
  border-color: var(--destaque);
}

#projeto-container .foto{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5%;
}

/*configurações article dos projetos para telas maiores */
@media screen and (min-width: 768px){
  #projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  #projeto-container .projeto-info{
    width: 80%;
  }
  /*imagem do projeto */
  #projeto-container .foto{
    aspect-ratio: 1/1;
    width: 20%;
    max-height: 200px;
  }
}
/* Fim das configurações article dos projetos para telas maiores */

/* configurações as infromações do saiba mais dos projetos */
#projeto-container .saiba-mais{
  font-family: var(--letras-bonitas-nome-para-skills);
  text-align: center;
}
#projeto-container .saiba-mais> h5{
  font-size: 1.5em;
  color: var(--destaque);
  margin-bottom: 10px;
}
#projeto-container .saiba-mais> p , #projeto-container .saiba-mais li{
  font-size: 1.2em;
  color: var(--texto-cor);
  margin-bottom: 10px;
}
#projeto-container .saiba-mais> ul{
  list-style: decimal;
  padding-left: 20px;
}
#projeto-container .saiba-mais .github-icone:hover{
  color:black
}
/* Fim das configurações do saiba mais dos projetos */

/*Configurações do footer */
footer{
  background-color: var(--destaque);
  color: var(--texto-inverso);
  padding: 15px;  
  text-align: center;
  margin-top: 20px;
}
footer a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: bold;
  transition: color 0.5s;
}
footer a:hover{
  color: var(--texto-cor);
  text-decoration: underline;
}
 /* Fim das configurações do footer */